@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1567754499') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1567754499') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1567754499') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1567754499') format('svg'); }
body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: medium; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: #0c0b0a; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

.card, .list { display: inline-block; width: calc(100% - 32px); margin-left: 16px; margin-right: 16px; margin-top: 32px; background-color: #2c2c2e; -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; overflow: hidden; }
.card + .card, .card + .list, .list + .card, .list + .list { margin-top: 16px; }
.card .title, .list .title { display: inline-block; width: 100%; height: 40px; line-height: 40px; background-color: #444446; *zoom: 1; padding: 0 12px; }
.card .title:after, .list .title:after { display: table; content: ""; line-height: 0; clear: both; }
.card .title > *, .list .title > * { float: left; display: inline-block; width: 50%; text-align: left; color: #8e8e93; }
.card .title > * + *, .list .title > * + * { text-align: right; font-size: 18px; }
.card .title > *:before, .card .title > *:after, .list .title > *:before, .list .title > *:after { font-size: 11px; display: inline-block; margin-top: 2px; color: #7c7c80; }
.card .title > *:before, .list .title > *:before { content: attr(data-title); margin-right: 2px; }
.card .title > *:after, .list .title > *:after { content: attr(data-sub); margin-left: 2px; }
.card .title .val, .list .title .val { color: #e5e5ea; }

.card .name a { display: inline-block; margin-left: 2px; width: 30px; height: 30px; line-height: 28px; margin-top: 6px; text-align: center; color: #8e8e93; background-color: #444446; }
.card .vals { position: relative; }
.card .vals:before { position: absolute; bottom: 0; left: 4px; right: 4px; display: inline-block; height: 1px; border-bottom: 1px solid #8fd3f4; }
.card .vals span { position: absolute; bottom: 0; display: inline-block; width: calc(100% / 10 - 4px * 9 / 10); height: 100%; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.card .vals span:nth-child(1) { left: calc((100% / 10 - 3.6px + 4px) * 0); height: calc(30% + (70% / 10) * 0); }
.card .vals span:nth-child(2) { left: calc((100% / 10 - 3.6px + 4px) * 1); height: calc(30% + (70% / 10) * 1); }
.card .vals span:nth-child(3) { left: calc((100% / 10 - 3.6px + 4px) * 2); height: calc(30% + (70% / 10) * 2); }
.card .vals span:nth-child(4) { left: calc((100% / 10 - 3.6px + 4px) * 3); height: calc(30% + (70% / 10) * 3); }
.card .vals span:nth-child(5) { left: calc((100% / 10 - 3.6px + 4px) * 4); height: calc(30% + (70% / 10) * 4); }
.card .vals span:nth-child(6) { left: calc((100% / 10 - 3.6px + 4px) * 5); height: calc(30% + (70% / 10) * 5); }
.card .vals span:nth-child(7) { left: calc((100% / 10 - 3.6px + 4px) * 6); height: calc(30% + (70% / 10) * 6); }
.card .vals span:nth-child(8) { left: calc((100% / 10 - 3.6px + 4px) * 7); height: calc(30% + (70% / 10) * 7); }
.card .vals span:nth-child(9) { left: calc((100% / 10 - 3.6px + 4px) * 8); height: calc(30% + (70% / 10) * 8); }
.card .vals span:nth-child(10) { left: calc((100% / 10 - 3.6px + 4px) * 9); height: calc(30% + (70% / 10) * 9); }
.card .vals span:first-child { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.card .vals span:last-child { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.card.nn .val { color: #bcbcc0; }
.card.c1 .name { color: #ffc3a9; }
.card.c1 .content { *zoom: 1; padding: 8px 12px; }
.card.c1 .content:after { display: table; content: ""; line-height: 0; clear: both; }
.card.c1 .content > * { float: left; display: inline-block; height: 64px; }
.card.c1 .content .vals { width: calc(50% - 20px / 2); margin-right: 20px; }
.card.c1 .content .vals span { background-color: rgba(252, 166, 129, 0.25); }
.card.c1 .content .vals span:nth-child(-n + 7) { background-color: #fca681; }
.card.c1 .content .min, .card.c1 .content .max { color: #bcbcc0; width: calc((50% - 20px / 2) / 2); text-align: right; }
.card.c1 .content .min:before, .card.c1 .content .max:before { font-size: 13px; display: inline-block; width: 100%; margin-top: 6px; color: #8e8e93; margin-bottom: 6px; }
.card.c1 .content .min:after, .card.c1 .content .max:after { content: '公尺'; font-size: 10px; display: inline-block; width: 100%; color: #79797d; }
.card.c1 .content .min:before { content: '最小值'; }
.card.c1 .content .max:before { content: '最大值'; }
.card.c1.nn .name { color: rgba(255, 195, 169, 0.5); }
.card.c1.nn .content .vals span { background-color: rgba(252, 166, 129, 0.25); }
.card.c2 .name { color: #51ffa8; }
.card.c2 .content { *zoom: 1; padding: 8px 12px; }
.card.c2 .content:after { display: table; content: ""; line-height: 0; clear: both; }
.card.c2 .content > * { float: left; display: inline-block; height: 64px; }
.card.c2 .content .vals { width: calc(50% - 20px / 2); margin-right: 20px; }
.card.c2 .content .vals span { background-color: rgba(82, 222, 151, 0.25); }
.card.c2 .content .vals span:nth-child(-n + 7) { background-color: #52de97; }
.card.c2 .content .min, .card.c2 .content .max { position: relative; display: inline-block; height: 32px; line-height: 32px; color: #bcbcc0; width: calc(50% - 20px / 2); padding-left: 52px; text-align: right; }
.card.c2 .content .min:before, .card.c2 .content .max:before { position: absolute; left: 0; top: 0; display: inline-block; width: 52px; height: 32px; padding-left: 8px; font-size: 13px; color: #8e8e93; margin-right: 4px; }
.card.c2 .content .min:after, .card.c2 .content .max:after { content: '公尺'; font-size: 10px; display: inline-block; margin-left: 2px; margin-top: 2px; color: #79797d; }
.card.c2 .content .min:before { content: '最小值'; }
.card.c2 .content .max:before { content: '最大值'; }
.card.c2.nn .name { color: rgba(81, 255, 168, 0.5); }
.card.c2.nn .content .vals span { background-color: rgba(82, 222, 151, 0.25); }
.card.c3 .name { color: #66d8ff; }
.card.c3 .content { *zoom: 1; padding: 8px 0; }
.card.c3 .content:after { display: table; content: ""; line-height: 0; clear: both; }
.card.c3 .content > * { float: left; display: inline-block; height: 64px; }
.card.c3 .content .vals { margin-left: 10px; width: calc(50% - 20px / 2); margin-right: 10px; }
.card.c3 .content .vals span { background-color: rgba(100, 178, 205, 0.25); }
.card.c3 .content .vals span:nth-child(-n + 7) { background-color: #64b2cd; }
.card.c3 .content .min, .card.c3 .content .max { color: #bcbcc0; width: calc((50% - 20px / 2) / 2); }
.card.c3 .content .min:before, .card.c3 .content .max:before { font-size: 13px; display: inline-block; width: 100%; margin-top: 10px; color: #8e8e93; margin-bottom: 4px; }
.card.c3 .content .min:after, .card.c3 .content .max:after { content: '公尺'; font-size: 10px; display: inline-block; width: 100%; color: #79797d; }
.card.c3 .content .min:before { content: '最小值'; }
.card.c3 .content .max:before { content: '最大值'; }
.card.c3.nn .name { color: rgba(102, 216, 255, 0.5); }
.card.c3.nn .content .vals span { background-color: rgba(100, 178, 205, 0.25); }

.list .content { position: relative; display: inline-block; width: 100%; }
.list .content span { position: relative; display: inline-block; width: 100%; height: 40px; line-height: 40px; text-align: left; padding: 0 12px; color: #e5e5ea; text-align: right; }
.list .content span:before { position: absolute; left: 12px; top: 0; display: inline-block; content: attr(data-title); width: 130px; height: 40px; color: #8c8c91; text-align: left; }
.list .content span:after { position: absolute; top: 0; left: 12px; display: inline-block; width: calc(100% - 12px); height: 1px; border-top: 1px solid #444446; }
.list .content span + span:after { content: ''; }
.list .content span i { font-style: normal; }
.list .content span i[data-unit]:after { content: attr(data-unit); display: inline-block; margin-left: 2px; font-size: 12px; margin-top: 2px; color: #79797d; }
.list .content span i + i { margin-left: 4px; }

.close { display: inline-block; width: calc(100% - 32px); margin: 20px 16px; height: 44px; line-height: 44px; -moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px; background-color: #2c2c2e; color: #c7c7cc; }
.close:hover { background-color: #1c1c1e; color: #48484a; }
